In [36]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [37]:
# Store the CSV you saved created in part one into a DataFrame & read the CSV
hotel_df = pd.read_csv("Data/WeatherPy_vacation.csv")
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tacuati,PY,80.73,clear sky,-23.45,-56.58,NaN
1,Luanda,AO,77.00,scattered clouds,-8.84,13.23,EPIC SANA Luanda
2,San Cristobal,VE,86.00,scattered clouds,7.77,-72.22,Pirineos
3,Kahului,US,80.60,few clouds,20.89,-156.47,Maui Seaside Hotel
4,Biak,ID,78.22,broken clouds,-0.91,122.88,Kost Ariz

In [39]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tacuati,PY,80.73,clear sky,-23.45,-56.58,NaN
1,Luanda,AO,77.00,scattered clouds,-8.84,13.23,EPIC SANA Luanda
2,San Cristobal,VE,86.00,scattered clouds,7.77,-72.22,Pirineos
3,Kahului,US,80.60,few clouds,20.89,-156.47,Maui Seaside Hotel
4,Biak,ID,78.22,broken clouds,-0.91,122.88,Kost Ariz
...,...,...,...,...,...,...,...
174,Sakete,BJ,76.39,heavy intensity rain,6.74,2.66,NaN
175,Kavieng,PG,81.84,light rain,-2.57,150.80,Nusa Island Retreat
176,Cam Ranh,VN,84.20,few clouds,11.92,109.16,OYO 598 Peony Hotel
177,Saint-Georges,GD,87.80,few clouds,12.06,-61.75,Radisson Grenada Beach Resort
178,Palmas,BR,89.60,shower rain,-10.21,-48.36,Hotel Lago da Palma

In [44]:
# To check the country column to determine the number of cities in the data 
hotel_df['Country'].value_counts()

US    24
ID    15
BR    15
IN    10
PG     9
      ..
TM     1
SS     1
GW     1
CI     1
AR     1
Name: Country, Length: 64, dtype: int64

In [45]:
# Create a dataframe to obtain information about all US cities
us_vacation_df= hotel_df[hotel_df["Country"]=='US'].copy().reset_index(drop=True)
us_vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kahului,US,80.60,few clouds,20.89,-156.47,Maui Seaside Hotel
1,Portland,US,81.00,clear sky,45.52,-122.68,Portland Marriott City Center
2,Mayo,US,75.99,light rain,38.89,-76.51,Resorts Resource Group International
3,Kihei,US,80.60,few clouds,20.79,-156.47,Maui Sunset
4,Jackson,US,84.00,clear sky,42.42,-122.83,Agate Village Apartments
5,Pacific Grove,US,79.00,few clouds,36.62,-121.92,Lovers Point Inn
6,Hamilton,US,82.99,scattered clouds,39.18,-84.53,Six Acres Bed & Breakfast
7,Martinsville,US,81.00,scattered clouds,36.69,-79.87,Hampton Inn Martinsville
8,Avera,US,86.00,broken clouds,33.19,-82.53,NaN
9,Kapaa,US,78.80,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
10,Broome,US,75.00,overcast clouds,42.25,-75.83,Chenango Valley State Park
11,Makakilo City,US,80.60,clear sky,21.35,-158.09,Marriott's Ko Olina Beach Club
12,Pacifica,US,75.00,few clouds,37.61,-122.49,"Pacifica Lighthouse, Trademark Collection by W..."
13,Saint George,US,89.60,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
14,Saint Anthony,US,78.01,clear sky,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
15,Roma,US,80.60,overcast clouds,43.21,-75.46,Wingate By Wyndham Rome
16,Redmond,US,75.99,overcast clouds,47.67,-122.12,Seattle Marriott Redmond
17,Ahuimanu,US,84.20,broken clouds,21.44,-157.84,Paradise Bay Resort
18,Fallon,US,90.00,clear sky,39.47,-118.78,Best Western Fallon Inn & Suites
19,Filadelfia,US,80.01,overcast clouds,39.95,-75.16,Loews Philadelphia Hotel
20,Gresham,US,81.00,clear sky,45.50,-122.43,McMenamins Edgefield
21,Elko,US,82.40,clear sky,41.00,-115.50,NaN
22,Big Spring,US,84.20,clear sky,32.25,-101.48,Hampton Inn & Suites Big Spring
23,Spencer,US,78.80,clear sky,43.14,-95.14,Days Inn by Wyndham Hotel Spencer IA

In [51]:
#Drop all NaN's and reset index
us_vacation_df.dropna(inplace= True)
us_vacation_df.reset_index(drop =True, inplace = True)
us_vacation_df.sort_values(['Lat','Lng'],inplace=True)
us_vacation_df.reset_index(drop = True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kihei,US,80.60,few clouds,20.79,-156.47,Maui Sunset
1,Kahului,US,80.60,few clouds,20.89,-156.47,Maui Seaside Hotel
2,Makakilo City,US,80.60,clear sky,21.35,-158.09,Marriott's Ko Olina Beach Club
3,Ahuimanu,US,84.20,broken clouds,21.44,-157.84,Paradise Bay Resort
4,Kapaa,US,78.80,few clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
5,Big Spring,US,84.20,clear sky,32.25,-101.48,Hampton Inn & Suites Big Spring
6,Pacific Grove,US,79.00,few clouds,36.62,-121.92,Lovers Point Inn
7,Martinsville,US,81.00,scattered clouds,36.69,-79.87,Hampton Inn Martinsville
8,Saint George,US,89.60,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
9,Pacifica,US,75.00,few clouds,37.61,-122.49,"Pacifica Lighthouse, Trademark Collection by W..."
10,Mayo,US,75.99,light rain,38.89,-76.51,Resorts Resource Group International
11,Hamilton,US,82.99,scattered clouds,39.18,-84.53,Six Acres Bed & Breakfast
12,Fallon,US,90.00,clear sky,39.47,-118.78,Best Western Fallon Inn & Suites
13,Filadelfia,US,80.01,overcast clouds,39.95,-75.16,Loews Philadelphia Hotel
14,Broome,US,75.00,overcast clouds,42.25,-75.83,Chenango Valley State Park
15,Jackson,US,84.00,clear sky,42.42,-122.83,Agate Village Apartments
16,Spencer,US,78.80,clear sky,43.14,-95.14,Days Inn by Wyndham Hotel Spencer IA
17,Roma,US,80.60,overcast clouds,43.21,-75.46,Wingate By Wyndham Rome
18,Saint Anthony,US,78.01,clear sky,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
19,Gresham,US,81.00,clear sky,45.50,-122.43,McMenamins Edgefield
20,Portland,US,81.00,clear sky,45.52,-122.68,Portland Marriott City Center
21,Redmond,US,75.99,overcast clouds,47.67,-122.12,Seattle Marriott Redmond

In [90]:
#Create a DataFrame for the identified cities
city_index=[13,14,15,16]

vacation_itinerary = us_vacation_df.iloc[city_index].copy()
vacation_itinerary.reset_index(drop = True,inplace =True)
vacation_itinerary

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Filadelfia,US,80.01,overcast clouds,39.95,-75.16,Loews Philadelphia Hotel
1,Broome,US,75.00,overcast clouds,42.25,-75.83,Chenango Valley State Park
2,Jackson,US,84.00,clear sky,42.42,-122.83,Agate Village Apartments
3,Spencer,US,78.80,clear sky,43.14,-95.14,Days Inn by Wyndham Hotel Spencer IA

In [91]:
#Create a DataFrame for each city

cities_df =[]

for index in range(vacation_itinerary.shape[0]):
    cities_df.append(vacation_itinerary.iloc[index].copy())

In [92]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [93]:
#Create the travel map
fig =gmaps.figure()

start_point_lat_lng = (cities_df[0]['Lat'],cities_df[0]['Lng'])
end_point_lat_lng = (cities_df[3]['Lat'],cities_df[3]['Lng'])
waypoints=[(cities_df[i]['Lat'],cities_df[i]['Lng']) for i in range (1,len(cities_df)-1)]

layer_map = gmaps.directions_layer(start_point_lat_lng, end_point_lat_lng,waypoints= waypoints,travel_mode='BICYCLING')
fig.add_layer(layer_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [94]:
# Add markers to map
fig =gmaps.figure()

locations = vacation_itinerary[["Lat", "Lng"]]

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_itenerary.iterrows()]



marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))